/java-gui/CodiceFiscale/nbproject/private/
/java-gui/CodiceFiscale/build/
/swing/calcolatrice/build/
/swing/calcolatrice/nbproject/private/
/swing/calculator/nbproject/private/
/swing/sassoCartaForbice/nbproject/private/
/swing/sassoCartaForbice/build/
/swing/morraCinese/nbproject/private/
/swing/morraCinese/build/
/swing/calcolatrice/dist/
/swing/masterMind/nbproject/private/
/swing/masterMind/build/
