.card {
    position: sticky;
    align-self: flex-start;
    top: 32vh;
    box-sizing: border-box;
    width: 420px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    display: block;
}

.prodotto {
    margin: 2%;
}

.container-descrizione {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.dettagli-prodotto {
    flex: 1;
}